[submodule "models/ArTST/fairseq"]
	path = models/ArTST/fairseq
	url = https://github.com/facebookresearch/fairseq
[submodule "models/ArTST/ArTST"]
	path = models/ArTST/ArTST
	url = https://github.com/mbzuai-nlp/ArTST
[submodule "models/ArTST/ArTST-huggingface"]
	path = models/ArTST/ArTST-huggingface
	url = https://huggingface.co/MBZUAI/ArTST
[submodule "models/tts-arabic-pytorch/tts-arabic-pytorch"]
	path = models/tts-arabic-pytorch/tts-arabic-pytorch
	url = https://github.com/nipponjo/tts-arabic-pytorch
